body {
  padding: 16px;
  font-family: 'Cousine', monospace;
  -webkit-font-smoothing: antialiased;
}

footer {
  margin-top: 32px;
  text-align: center;
}

header {
  text-align: center;
}

li {
  margin-bottom: 8px;
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 32px;
  border-bottom: 1px dashed #CCC;
  text-align: justify;
}

p {
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
}

.logo {
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
}

.support {
  margin-top: 32px;
  text-align: center;
}
